 
.tothetop {
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  opacity: 0.5;
}
body {
    background-color: whitesmoke;
    margin: 0px;
}

header {
    background-color: #333333;
    width: 100px;
    width: 100%; 
    z-index: 69;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
  }

  nav {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 10px 0px;
  }
  
  nav img {
    display: block;
    width: 180px;
    margin: 0px auto;
  }
  
  
  nav span a {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  nav a:hover {
    text-transform: uppercase;

  }
  
  .title {
      color: #333333;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      margin-top: 115px;
  }

  .toronto {
    margin-left: 54px;
  }

  h2 {
      color: #333333;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
  }
  
  h3 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
  }

  h4 {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
  }

  p {
      font-family: 'Montserrat', sans-serif;
      color: whitesmoke;
  }

  .industry li {
    font-family: 'Montserrat', sans-serif;
      color: whitesmoke;
      width: 500px;
      height: none;
      margin-top: 10px;
      text-align: left;
  }

  .whySection {
    background-color: #307166;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
    display: block;
  }
  .subtitle {
    text-align: left;
    font-weight: lighter;
    text-transform: uppercase;
  }


  .colorSection {
    z-index: 69;
    color: white;
    display: block;
    width : 20px;
    height: 70px;
  }
  .approachSection {
    background-color: #358176;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
  }
  .approachSection .approachCol{
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .approachCol h2 {
    text-transform: none;
  }
  .researchSection {
    background-color: #398D82;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
  }

  
  

  .questionsSection {
    background-color: #5FAFA7;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
  }

  .question{
    position: relative;
    top: 50px;
    text-align: center;
  }
  
  .answer {
    margin: 20px;
    display: inline-block;
    border: 1px solid #b89c60;
    padding: 30px 50px;
    background-color: #307166;
    color: whitesmoke
  }

  .answer:hover {
    background-color: #398D82;
  }



  

